<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="/login.css">
</head>

<body>
    <div>
        <form action="/loginpage" method="POST" data-th-object="${user}">
            <h1 class = "title">Login page</h1>
            <div>
                <table>

                    <tr>
                        <td>
                            Name:
                        </td>
                        <td>
                            <input type="text" data-th-field="*{name}" placeholder="Enter your name">
                            <span data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}" class = "error"></span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Password:
                        </td>
                        <td>
                            <input type="text" data-th-field="*{password}" placeholder="Enter password">
                            <span data-th-if="${#fields.hasErrors('password')}" data-th-errors="*{password}" class = "error"></span>
                            </span>
                        </td>
                    </tr>
                    <tr class="button">
                        <td>
                            <button type="submit">
                                Login
                                <div class="arrow-wrapper">
                                    <div class="arrow"></div>
                            
                                </div>
                            </button>
                            
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <p class="signup-link">
                    No account?
                    <a href="/createaccount">Sign up</a>
                </p>
            </div>
        </form>
    </div>
</body>

</html>